<section class="about-me"></section>
<section>
    <p>Professional with over three years of experience in software development, dedicated to 
enhancing user experience through innovative and intuitive solutions. Holds a degree in 
Civil Engineering and is currently pursuing a degree in Systems Analysis and 
Development, specializing in web and systems development and maintenance. 
Experienced in both backend and frontend development, with the ability to design and 
implement comprehensive and efficient solutions tailored to client needs. Seeking a 
position as a Developer in a dynamic company where I can showcase my skills and 
grow professionally. I aim for an environment that fosters continuous development, 
allowing me to refine my technical skills and collaborate with talented teams to achieve 
exceptional results. </p>
</section>
