<p>experience works!</p>
<p>
    Accenture – Software and Product Engineer Analyst | Dec/2024 – Present 
Context: I am part of a team developing IHTOnco, a software solution for managing 
oncology clinics across the country, integrating with Protheus, Tasy, and other systems. 
Role: I contribute to the frontend team specializing in Angular, responsible for 
developing the management modules. 
Results: In just a few months, we delivered significant improvements, implementing 
complex modules involving banking transaction rules and management panels. More 
results are in progress.
</p>
<p>EZSoluções – Front-End Developer | Jun/2024 – Dec/2024 
Context: I was part of the team developing EZAGRO, a software platform for managing 
farms and agricultural machinery for Brazil's largest farmers. The system includes 
modules for crop management, machinery, producers, products, and more. 
Role: I was responsible for the entire frontend of the application, built in Angular. 
Results: Within a few months, we restructured the team, modernized outdated code 
using the latest Angular technologies, and recovered nearly two years of project 
backlog. After this period, I received an offer to join Accenture.</p>

<p>
    Cia Hering – Junior Full Stack Developer | Oct/2023 – Apr/2024 
Context: I joined the B2B and Omnichannel teams, contributing to the Promotion 
Engine project at Grupo Soma, the largest fashion group in Latin America. This project 
aimed to create an internal platform to manage promotions, credit vouchers, 
cashback, refunds, and current accounts for the group's brand franchisees. 
Role: 
• Frontend: Developed new features, tests, and interfaces for the platform. 
• Backend: Created and adjusted API endpoints, modified databases, 
implemented Jest tests, developed authentication, middleware, and queues. 
• Technologies: JavaScript, TypeScript, Node.js, React.js, CSS, SASS, Styled 
Components, Material UI, Bootstrap, PostgreSQL, MySQL, Docker, and 
Elasticsearch. 
Results: My contributions led to a robust and efficient platform for managing benefits 
and financial transactions for Grupo Soma’s franchisees. The effective application of 
technologies and methodologies significantly improved operational efficiency.
</p>

<p>
    Cia Hering – Full Stack Development Intern | Sep/2022 – Sep/2023 
Context: During my internship at Cia Hering, I was involved in front-end and back-end 
development and bug fixing, working in a dynamic and challenging environment. 
Role: 
• Utilized technologies like Docker, GitLab, React with TypeScript, Node.js, Styled 
Components, Beekeeper, and Redis Cache. 
• Actively participated in a self-organizing team following agile methodologies, 
ensuring efficient collaboration and high-quality solutions. 
Results: I successfully applied my university knowledge in a real-world work 
environment, contributing to significant projects and delivering high-quality solutions 
while gaining valuable insights into software development, teamwork, and professional 
collaboration. 
</p>